@mixin mq($break,$breakPointsList:('sm':576px,'md':769px)){
    $value:map-get($breakPointsList,$break );
    $sm: map-get($break, 'sm' );

    @if $value < $sm {
        @media(max-width:$value){
            @content;
        }
    }
}

@mixin flex($disp:flex,$dir:null,$wrap:null,$just:null,$al-items:null){
    align-items: $al-items;
    display:$disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content:$just;
}