%boxshadow{
    -webkit-box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.37);
	box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.37);
}

%centered{
    display: block;
	margin: auto;
}