// Breakpoints
$breakpoints: (
  'xs': 575px,
  'sm': 576px,
 'md': 768px,
  'lg': 992px,
);
$break-s:576px;
// Fonts
$font-stack-primary: 'Lato', sans-serif;

$font-stack-heading: 'Bangers', cursive;

// Color Scheme

$color-text-primary:#594157;
$color-text-secondary:#4834d4;
