// Breakpoints
$breakpoints:('sm':576px,'md':768px,'lg':992px);

// Fonts
$font-stack-primary: 'Lato', sans-serif;

$font-stack-secondary: 'Bangers', cursive;

// Color Scheme
$bg-primary:"#7D8CC4";

$text-primary:#594157;
