@import url('https://fonts.googleapis.com/css?family=Bangers|Lato');

// Breakpoints
$breakpoints: (
  'xs': 479px,
  'sm': 480px,
 'md': 768px,
  'lg': 992px,
);
$break-s:576px;
// Fonts
$font-stack-primary: 'Lato', sans-serif;

$font-stack-heading: 'Bangers', cursive;

// Color Scheme

$color-primary:#1dd1a1;
$color-secondary:#48dbfb;
$color-tertiary:#8395a7;
// Button colors
