/*Font CSS*/
@import url('https://fonts.googleapis.com/css?family=Bangers|Lato');

// General Font
body{
    font-family: $font-stack-primary;
}


.headline--primary{
    font-family:$font-stack-heading;
    color:$color-text-secondary;
}