/*================================
BASE STYLES
==================================*/

*{
    box-sizing: border-box;
}
ul{
    padding:0;
    list-style-type: none;
}
a{
    text-decoration: none;
 &:visited{
     color:#0000EF;
 }
}
p {
    line-height: 25px;
    font-size: 14px;
}
